 body {
   font-family: "Lato", sans-serif;
  background-color: #ECEFF4;

}
.demo {
    /* for IE10+ touch devices */
    touch-action:none;
}
/** JSPLUMB ARTEFACTS **/
.jtk-overlay {
    z-index: 51;
}

.jtk-endpoint {
    z-index: 50;
    cursor: move;
}

.jtk-connector {
    z-index: 1;
}

/** ELEMENTS **/
.littledot
{
    cursor: pointer;
    width: 12px;
    height: 12px;
    background-image: url(littledot.png);
    z-index: 5;
    position: absolute;
    border-radius: 31px;
}



.littledot-hover-hover {
    border: 2px solid orange;
}

.dropHover {
    border: 1px solid orange;
}

/** ELEMENT POSITIONS **/
#ld1 {
    top: 11em;
    left: 10em;
}

#ld2 {
    top: 14em;
    left: 10em;
}

#ld3 {
    top: 18.5em;
    left: 10em;
}

#ld4{
    top: 31em;
    left: 10em;
}

#ld5 {
    top: 12.8em;
    left: 23.8em;
}
#ld6 {
    top: 14.9em;
    left: 23.8em;
}
#ld7 {
    top: 18.3em;
    left: 23.8em;
}
#ld8 {
    top: 20.4em;
    left: 23.8em;
}
#ld9 {
    top: 25.3em;
    left: 20em;
}
#ld10 {
    top: 27.4em;
    left: 20em;
}
#ld11 {
    top: 11.4em;
    left: 37.6em;
}#ld12 {
    top: 13.1em;
    left: 37.6em;
}#ld13 {
    top: 14.7em;
    left: 37.6em;
}#ld14 {
    top: 25.2em;
    left: 37.6em;
}#ld15 {
    top: 26.8em;
    left: 37.6em;
}#ld16 {
    top: 28.4em;
    left: 37.6em;

}#ld17 {
    top: 37.6em;
    left: 37.6em;
}
#ld18 {
    top: 39.2em;
    left: 37.6em;
}
#ld19 {
    top: 41em;
    left: 37.6em;
}
#ld20{
    top: 13.2em;
    left: 47.5em;
}
#ld21 {
    top: 26.9em;
    left: 47.5em;
}
#ld22 {
    top: 25.3em;
    left: 52.9em;
}
#ld23 {
    top: 27em;
    left: 52.9em;
}
#ld24 {
    top: 28.6em;
    left: 52.9em;
}
#ld25 {
    top: 27em;
    left: 63em;
}
#ld26 {
    top: 25.4em;
    left: 72em;
}
#ld27 {
    top: 28.5em;
    left: 72em;
}
#ld28 {
    top: 39.4em;
    left: 47.5em;
}
#ld29 {
    top: 13.9em;
    left: 30.5em;
}
#ld30 {
    top: 19.4em;
    left: 30.5em;
}
#ld31 {
    top: 26.4em;
    left: 26.8em;
}















path, .jtk-endpoint {
    cursor: pointer;
}
h1
  {
    color: maroon;
  } 
  #wrapper
  {
    width:100%;
  }
 
  .dropbtn
  {
    background-color:#3385ff;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
  }
  .dropbtn:hover, .dropbtn:focus
  {
    background-color: blue;
  }
  .dropdown
  {
    position: relative;
    display: inline-block;
  }
  .dropdown-content
  {
    display: none;
    position: relative;
    background-color: lightblue ;
    min-width: 750px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 999;
  }
  .dropdown-content a 
  {
    color: navy;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  .dropdown a:hover 
  {
    background-color: mistyrose;
  }
  .show 
  {
    display:block;
  }

