 body {
   font-family: "Lato", sans-serif;
  background-color: #ECEFF4;

}
  
.demo {
    /* for IE10+ touch devices */
    touch-action:none;
}
/** JSPLUMB ARTEFACTS **/
.jtk-overlay {
    z-index: 51;
}

.jtk-endpoint {
    z-index: 50;
    cursor: move;
}

.jtk-connector {
    z-index: 1;
}

/** ELEMENTS **/
.littledot
{
    cursor: pointer;
    width: 12px;
    height: 12px;
    background-image: url(littledot.png);
    z-index: 5;
    position: absolute;
    border-radius: 31px;
}



.littledot-hover-hover {
    border: 2px solid orange;
}

.dropHover {
    border: 1px solid orange;
}

/** ELEMENT POSITIONS **/
#ld1 {
    top: 14em;
    left: 14em;
}

#ld2 {
    top: 20em;
    left: 30em;
}

#ld3 {
    top: 20em;
    left: 50em;
}

#ld4 {
    top: 20em;
    left: 70em;
}

#ld5 {
    top: 20em;
    left: 90em;
}


path, .jtk-endpoint {
    cursor: pointer;
}
h1
  {
    color: maroon;
  } 
  #wrapper
  {
    width:100%;
  }
 
  .dropbtn
  {
    background-color: blue;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
  }
  .dropbtn:hover, .dropbtn:focus
  {
    background-color: blue;
  }
  .dropdown
  {
    position: relative;
    display: inline-block;
  }
  .dropdown-content
  {
    display: none;
    position: relative;
    background-color: lightblue ;
    min-width: 750px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 999;
  }
  .dropdown-content a 
  {
    color: navy;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    z-index: 1;
  }
  .dropdown a:hover 
  {
    background-color: mistyrose;
  }
  .show 
  {
    display:block;
  }
  #kit
  {
    background-color: ;
    height: 500px;
    top: 200px;
    left: 100px;
    margin: 41px;

  }

  .v_img {
  z-index: 2;
  position: absolute;
  height: 100px;
  width: 100px;
  left: 45%;
  bottom: 250px;
  transition: transform 2s linear;
  transform-origin: 29% 70%;
  transform-style: preserve-3D;
  -ms-transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
}
h1
  {
    color: maroon;
  } 
  #wrapper
  {
    width:100%;
  }
 
  .dropbtn
  {
    background-color: blue;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
  }
  .dropbtn:hover, .dropbtn:focus
  {
    background-color: blue;
  }
  .dropdown
  {
    position: relative;
    display: inline-block;
  }
  .dropdown-content
  {
    display: none;
    position: relative;
    background-color: lightblue ;
    min-width: 750px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  .dropdown-content a 
  {
    color: navy;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  .dropdown a:hover 
  {
    background-color: mistyrose;
  }
  .show 
  {
    display:block;
  }
  #kit
  {
    background-color: ;
    height: 500px;
    top: 200px;
    left: 100px;
    margin: 41px;

  }

  .v_img {
  z-index: 2;
  position: absolute;
  height: 100px;
  width: 100px;
  left: 45%;
  bottom: 250px;
  transition: transform 2s linear;
  transform-origin: 29% 70%;
  transform-style: preserve-3D;
  -ms-transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
}
